.lookingfor{
  color: #FFFFFF;
  background-color: #32B76A;
  margin-top:15px;
  margin-bottom: 10px;
  font-size: 15pt;
  vertical-align: central;
  height: 40px;
  padding-top : 6px;
}

.map-container{
width:100%;
height: 400px;
}

.map{
width:100%;
height: 100%;

}