.lookingfor{
  color: #FFFFFF;
  background-color: #32B76A;
  margin-top:15px;
  margin-bottom: 10px;
  font-size: 15pt;
  padding-top: 5px;
  height: 40px;
}


.map-container {
  height: 300px;
  width: auto;
}

.map {
  height: 100%;
  width: 100%;
}
