/*[class*="col-"] {
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/
body {
  background-color: #CCCCCC;
}

.container{
  width: 80%;
  height: 100%;
  text-align: center;
}

.subtitle{
  color:#32B76A;
  font-size: 20;
}

.logoImg {
  width: 80%;
  height: 80%;
}

.form-login {
  visibility: hidden;
  margin-top: 15px;
}

.btn-login, .btn-submit{
  color: #FFFFFF;
  background-color: #32B76A;
  margin-top:15px;
}
.btn-login:hover, .btn-submit:hover{
  color: #32B76A;
  background-color: #FFFFFF;
}
.btn-login:focus{
color: #FFFFFF;
  background-color: #32B76A;
}

.head-text {
  margin-top: 30px;
}

.middle {
  margin-top: 70px;
}


.h1 {
  font-family: helvetica;
  font-weight: 600;
  font-size: 50;
  color:#32B76A;
}

.btn-main {
  color: #FFFFFF;
  height: 300px;
  width: 300px;
  background-color: #32B76A;
}

.btn-main:hover {
  color: #32B76A;
  height: 300px;
  width: 300px;
  background-color: #FFFFFF;
}

.glyphicon-search, .glyphicon-user {
  font-size: 45pt;
}

.footer-content{
  text-align: center;
}


